/LuaScripts/common
LuaScriptsCommon/common/proto/emmylua_annotation.py
LuaScriptsCommon/common/proto/proto_annotation.lua

# IDE/Text Editor Specific Folders/Files
*.code-workspace
.vscode/
.idea/
*.csproj
*.sln
.emmyrc.json

# Temp log files
/Logs
/logs.txt
/battle_dumps
/AssetsDef/AllAssets.txt
/AssetsDef/RedundantAssets.txt
/AssetsDef/SharedAssets.txt
/AssetsDef/UnusedAssets.txt

# Unity Cache/Temp Folders
/Library*
/Temp
/obj

# User settings
/UserData.xml
/UserSettings

# Build Files
/Build*
/Assets/Manifest.asset
/Assets/Manifest.asset.meta
/Assets/ResBuildSetting.asset
/Assets/ResBuildSetting.asset.meta
/Assets/Bundles/LuaScripts
/Assets/Bundles/LuaScripts.meta
/AssetBundles
/UwaScan

/Assets/TempData
/Assets/TempData.meta
/Assets/TempEffect
/Assets/TempEffect.meta
/Assets/StreamingAssets
/Assets/StreamingAssets.meta
/Tools/luadataview/DumpTable*
/Assets/Bundles/UI/**/*.spriteatlas
/Assets/Bundles/UI/**/*.spriteatlas.meta
/Assets/Bundles/UI/RawTextures/*_ld
/Assets/Bundles/UI/RawTextures/*_ld.meta
/Assets/Bundles/UI/*/Pic_ld
/Assets/Bundles/UI/*/Pic_ld.meta
/Assets/Bundles/UI/Export
/BuildLib/build_android_x86/
/BuildLib/build_v7a/
/BuildLib/build_v64/
/LuaScripts/patch*.lua
ID*map_*baked.*

# Audio
/Wwise/*.txt
Audio/.cache
Audio/.backup
/Audio/bin/Android.wfpproj
/Audio/bin/ios.wfpproj
/Audio/bin/windows.wfpproj
Audio/GeneratedSoundBanks/Android/*
!Audio/GeneratedSoundBanks/Android/*.wfpproj
Audio/GeneratedSoundBanks/iOS/*
!Audio/GeneratedSoundBanks/iOS/*.wfpproj
Audio/GeneratedSoundBanks/Windows/*
!Audio/GeneratedSoundBanks/Windows/*.wfpproj
*.validationcache 
*.wsettings
*.akd
PluginInfo.xml
SoundbanksInfo.xml
Audio/*.prof

/xcodeExport
/UserData.nslg
/Assets/Resources/LuaDeepProfilerSetting.asset
/Assets/Resources/LuaProfilerPrecompileSetting.asset
/Assets/Resources/LuaDeepProfilerSetting.asset.meta
/Assets/Resources/LuaProfilerPrecompileSetting.asset.meta
/LuaScripts/Client/ChatData.lua
/LuaScripts/Test/
/Tools/YiDunPackTool/Log/
/Tools/YiDunPackTool/ProtectBin/
/Assets/Resources/BundleBootConfig.asset
/Assets/Resources/BundleBootConfig.asset.meta
/Assets/Bundles/Shaders/ExternalMaterialUsages.*
/Assets/Bundles/Shaders/CardModelMaterialUsages.*
/logs*.txt
/nslgLiteDb.db
/.vs/Client/v16/.suo
/三国NSLG_*.*.apk
/三国NSLG_*.*.idsig
/Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset
/Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset.meta
/Assets/Editor/Configs/.PostBuild/config*

/Tools/__pycache__/

ExportCache.asset*

/Assets/Scenes/Editor/AutoGen.meta
*_AutoGen.unity*

LuaMemoryCaptures/*.txt
LuaMemoryCaptures/*.json
MemoryCaptures/*

/Assets/Plugins/x86_64/*.db
/Assets/Plugins/x86_64/BLPlatform64/*.db
/Assets/Plugins/x86_64/*.db.meta
/Assets/Plugins/x86_64/BLPlatform64/*.db.meta

# Include everything in the root UnityEditor folder
!/UnityEditor/**
